django>=1.4
django-shop
django-shop-categories
django-mptt
django-treeadmin
-e git+git://github.com/fivethreeo/django-easytests.git#egg=django-easytests
PIL
South
easy-thumbnails
django-tinymce