* {
    margin: 0;
    padding: 0;
}

html { height: 100%; }

body {
    height: 100%; 
    background: #ebeaef;
}

#outer  { width: 940px; margin: 0 auto; }

#header { width: 680px; clear: both; float: right; }

#left_bar { width: 220px; float: left; padding-top: 25px; }
#right_bar { width: 680px; float: right; }

#footer { width: 680px; clear: both; float: right; }

p, th, td, li, dd {
  font-family: Arial, Helvetica, sans-serif;
  color: #444444;
  font-size: 14px;
  margin-bottom: 18px; 
}

ul {
    margin-top: -12px;
    margin-bottom: 18px; 
}
li {
    margin-bottom: 6px; 
}
li ul {
    margin-top: 3px;
    margin-bottom: 3px; 
}

a { color: #006699;  text-decoration:none; }
a:hover { color: #000000;}
a img { border: none; }

form { margin-bottom: 18px;  }
table { margin-bottom: 18px; border-collapse: collapse; } 

ul { margin-left: 16px; }

h1 {  font-size: 160%; font-family: arial; color: #0095c1; margin-bottom: 18px; font-weight: normal; line-height: 100%;}
h2 {  font-size: 140%; font-family: arial; color: #0095c1; margin-bottom: 18px; font-weight: normal; }
h3 { font-size: 120%; font-family: arial; color: #000000; margin-bottom: 18px; font-weight: normal; }